.back{
    //background: center no-repeat url("../../assets/images/result.jpg");
    //background-size : cover;
    height : 745px;
    margin-top: 0px;
}

.bg-night-blue{
    background-color: #191970; 
}