.titre{
    text-align: center;
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-size: 20px;
    }
    
    .telephone{
    font-weight: 500;
    }
    
    .list{
        list-style-type: square; 
        margin-left: 10px;
    }
    .bg-night-blue{
        background-color: #191970; 
    }
    