.bg-image {
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajuste la hauteur de la section à la taille de la fenêtre */
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent noir */
  }
  
  .content {
    position: relative;
    z-index: 1; /* Pour placer le contenu au-dessus de l'overlay */
    text-align: center;
    padding: 100px 20px; /* Ajuste le padding du contenu */
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  
  .btn {
    font-size: 1.25rem;
  }
  