<div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="bg-image" style="background-image: url('./assets/images/backg.jpg');">
          <div class="overlay"></div>
          <div class="content">
            <h1 class="text-center text-white">Bienvenue sur notre plateforme d'examen en ligne</h1>
            <p class="lead text-center text-white">Prêt à tester vos connaissances ? Commencez dès maintenant !</p>
            <div class="text-center mt-4">
              <button class="btn btn-primary btn-lg" (click)="login()">Commencer examen en ligne</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  