.custom-video {
    width: 500px;
    height: 600px;
    margin-top:-150px;
  }

.login-bg {
    background-size: cover;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.3); /* Couleur de fond de la carte avec une opacité */
    border-radius: 10px; /* Ajoutez une bordure arrondie à la carte */
    color: #000;
  }
  
  .sign-in-title {
    color: #000; /* Couleur du titre de connexion */
  }
  